.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-delete {
  background-color: #ff0000; /* Red color */
}
.header {
      position: fixed; /* Fix the header position */
      top: 0; /* Stick it to the top */
      left: 0;
      width: 100%; /* Full width */
      background-color: #6495ED; /* Dark background color */
      padding: 10px 0; /* Add some padding */
      text-align: center; /* Center align the content */
      z-index: 1000; /* Ensure it's on top of other elements */
  }
  
  .header h1 {
      margin: 0; /* Remove default margin */
      color: #ffffff; /* Text color */
      font-size: 24px; /* Font size */
      font-weight: bold; /* Bold font weight */
  }

  /* Additional styling for the body */
  body {
      color: rgb(16, 15, 15); /* Text color */
      background-color: #e0e7f2; /* Body background color */
      margin-top: 50px; /* Add margin to the top to avoid content overlap with fixed header */
  }
  .side-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Adjust as needed */
    background-color: #ffffff;
    color: #0f0e0e;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto; /* Enable scrolling if content exceeds panel height */
}

.btn-delete-all {
    width: 100%;
}
.btn-primary {
  width: 100%;
}
#mars-image {
  max-width: 200px; /* Adjust the width as needed */
  height: auto;
}
.header {
  background-color: #003893; /* Your desired header color */
  color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000; /* Ensure the header is above other content */
}

.main {
  margin-top: 80px; /* Adjust this value to ensure content does not get hidden behind the fixed header */
}
.mars-image {
  width: 80px; /* Adjust the width as needed */
  height: auto;
  margin-left: 10px; /* Add some margin to separate the image from the header */
}





